<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>
        Edit QR
    </title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <div class="container">

        <h1>
            Edit QR
        </h1>

        <form method="POST">

            <div class="detect-card">

                <h3>
                    QR Destination
                </h3>

                <textarea
                    name="new_data"
                    required>{{ qr.original_data }}</textarea>

            </div>

            <button
                class="save-btn"
                type="submit">

                Save Changes

            </button>

        </form>

    </div>

</body>

</html>